Repository R2D2-2019/internal_communication, pull requests merged in 2019-05, with the labels that each got.

#49 enable the interrupt when the tx_queue is full so we start transmitti…
  code/headers/channel.hpp
Labels: bug

#40 Feature frame_enums file
  README.md
  code/headers/frame_enums.hpp
  code/headers/frame_types.hpp
Labels: enhancement

#53 Array optimisation for frames
  README.md
  code/headers/base_comm.hpp
  code/headers/frame_types.hpp
Labels: enhancement

#30 Added a coordinate frame.
  code/headers/frame_types.hpp
Labels: Frame

#56 Feature temperature frame
  code/headers/frame_types.hpp
Labels: Frame, enhancement

#51 changed the baudrate to a fixed value
  code/headers/can/can.hpp
Labels: bug, enhancement

#60 added robot and swarm frame names
  code/headers/frame_types.hpp
Labels: Frame

#61 Added struct for gas detection module
  code/headers/frame_enums.hpp
  code/headers/frame_types.hpp
Labels: Frame

#62 Update frame_types.hpp
  code/headers/frame_types.hpp
Labels: Frame

#58 Feature command_id frame
  code/headers/frame_types.hpp
Labels: Frame

#64 renamed display frame enums to all upper case
  code/headers/frame_types.hpp
Labels: bug

#65 Added the Swarm Activity - Navigation communication frames
  code/headers/frame_types.hpp
Labels: Frame

#63 renamed COORDINATE_STRUCT to COORDINATE
  code/headers/frame_types.hpp
Labels: bug

#68 Frames for the end effector module
  code/headers/frame_enums.hpp
  code/headers/frame_types.hpp
Labels: Frame
